<div class="wrapper">
  <%= render 'shared/header' %>
  <%= render "shared/side_bar" %>
  <main class="main_post">
    <p class="my_post_text">あなたの投稿</p>
    <div class="main_post_wrap">
      <div class="post_lists">
        <% current_user.posts.each do |post| %>
          <ul class="post">
            <%= link_to user_path(post.user), class:'post_user_link' do %>
              <li class="post_user_name"><%= post.user.nickname %></li>
            <% end %>
            <%= link_to post_path(post), class: 'post_show_link' do %>
              <li class="post_title"><%= post.title %></li>
              <li class="post_body"><%= post.body %></li>
            <% end %>
            <div class="my_post_nav">
              <li><%= link_to '編集', edit_post_path(post), class:"post_edit_link" %></li>
              <li><%= link_to '詳細', post_path(post), class:"post_show_link" %></li>
              <li><%= link_to '削除', post_path(post), method: :delete, class:"post_delete_link" %>
              <% if post.is_publish %>
                <span class="publish_status_str">公開</span>
              <% else %>
                <span class="publish_status_str">非公開</span>
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
  </main>
</div>
