<%= render "shared/header" %>

<h2 class="form_header_text">ログイン</h2>

<%= form_with model: @user, url: user_session_path, class:"login_form", local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="login_field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, size:"20"%>
  </div>
  <div class="login_field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, size:"20"%>
  </div>
  <div class="login_submit">
    <%= f.submit "ログイン", class:"login_submit_text" %>
  </div>
<% end %>

<%= link_to "新規登録画面へ", new_user_registration_path, class: "login_link" %>