<div class="wrapper">
  <%= render 'shared/header' %>
  <%= render "shared/side_bar" %>
  <main class="main_post">
    <div class="post_show_wrap">
      <div class="post_show_box">
        <ul class="post_show">
          <li class="post_user_show"><%= @post.user.nickname %></li>
          <li class="post_title_show"><%= @post.title %></li>
          <li class="post_body_show"><%= @post.body %></li>
        </ul>
        <div class="comment_wrap">
          <%# コメント投稿フォーム %>
          <%= form_with model: [@post, @comment], class:"comment_form" , local: true do |f| %>
            <%= f.text_area :body, class:"comment_area", required: true %>
            <%= f.submit "コメント", class:"comment_submit" %>
          <% end %>

          <%# コメント一覧表示 %>
          <div class="comment_lists">
            <% @post.comments.each_with_index do |comment, i| %>
              <li class="comment"><%= "#{i+1}. #{comment.body}" %></li>
            <% end %>
          </div>
        </div>
      </div>

      <div class="main_post_wrap">
        <div class="post_lists">
          <% @posts.each do |post| %>
            <% if post.is_publish %>
              <ul class="post">
                <%= link_to user_path(post.user), class:'post_user_link' do %>
                  <li class="post_user_name"><%= post.user.nickname %></li>
                <% end %>
                <%= link_to post_path(post), class: 'post_show_link' do %>
                  <li class="post_title"><%= post.title %></li>
                  <li class="post_body"><%= post.body %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>